.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color:black;
  height: 150px;
  padding: 20px;
  color: white;
  margin: 0 0 20px 0;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.navbar {
 
  margin-top: auto;
  
}
#top-filler {
  margin-bottom: auto;
}

#nav-container {
  align-items: flex-end;
}


html body .container {
  text-align: left;
  padding-top: 2.4rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.accordion {
  background: rgba(255, 255, 255, 0.8);;
  border-radius: 3px;
}
html body .accordion .accordion-header {
  padding: .2rem .4rem .8rem
}
.accordion-body {
  padding: 0 10px;
}